.scrollContainer {
  overflow-x: auto;
}

::-webkit-scrollbar {
  height: 6px;
  background: white;
  border-radius: 100em;
}

::-webkit-scrollbar-thumb:horizontal {
  background: gray;
  border-radius: 100em;
  cursor: pointer;
}

.PokemonTitlesData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  font-size: 0.8em;
  white-space: nowrap;
  overflow-x: scroll;
}

.statsLink:hover {
  border-radius: 0.3em;
}

.statsButton,
.movesButton,
.aboutButton,
.abilitiesButton,
.locationsButton,
.TemplateButton {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  padding: 0.5em;
  font-family: "Oswald";
  color: white;
  font-size: 1.1em;
}

.statsButton:hover,
.movesButton:hover,
.aboutButton:hover,
.abilitiesButton:hover,
.locationsButton:hover,
.TemplateButton:hover {
  padding: 0.5em;
}

.activeButton {
  font-weight: 600;
}
