.SubmitButton {
  cursor: pointer;
  border: none;
  background: var(--primary-orange);
  padding: 1em;
  border-radius: 100em;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
  letter-spacing: 0.15em;
}

.SubmitContainer {
  width: 100%;
  text-align: center;
}

.SubmitButton:hover {
  background: white;
}
