.SearchPokemonContainer,
.ImageContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.SearchPokemonContainer {
  color: white;
  background: linear-gradient(to bottom, #5e5e5e, #272727);
  border-radius: 0.5em;
  width: 100%;
  height: 35em;
}

.PokemonImg {
  margin-top: 1em;
  width: 20vw;
  transform: scaleX(-1);
}

.SearchResultTitle {
  font-weight: 100;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.SearchPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 1em;
}
