.PokemonCard,
.PokemonCardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.PokemonCardsContainer {
  margin-bottom: 2em;
  padding: 0.3em;
}

.PokemonCard {
  height: 12em;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
}

.PokemonImg {
  width: 7em;
  transform: scaleX(-1);
}
