.pokemonImg {
  width: 7em;
  transform: scaleX(-1);
}

.PokemonCard {
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.ImgContainer,
.PokemonNameAndIdContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PokemonNameAndIdContainer {
  flex-direction: row;
  color: white;
  gap: 0.5em;
  font-size: 0.8em;
}

.name,
.id {
  color: white;
  font-weight: 100;
}
