.Homepage {
  background-image: url("../../../public/images/home-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50%;
}

.HomeImage {
  top: 0;
  opacity: 0.7;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.HomeTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 100;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}

.HomeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ContainerOptions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 2em;
}

.PokemonBallIcon,
.BoltIcon,
.EvolutionIcon,
.LocationIcon {
  opacity: 0;
  height: 5em;
  position: static;
  transform: translate(5em, 0em);
  transition: opacity 0.5s ease;
}

.PokedexContainer:hover .PokemonBallIcon,
.MovesContainer:hover .BoltIcon,
.LocationsContainer:hover .LocationIcon,
.EvolutionsContainer:hover .EvolutionIcon {
  opacity: 1;
}

.PokedexContainer:hover .PokedexButton,
.MovesContainer:hover .MovesButton,
.LocationsContainer:hover .LocationsButton,
.EvolutionsContainer:hover .EvolutionButton {
  color: transparent;
}

.PokedexContainer,
.MovesContainer,
.LocationsContainer,
.EvolutionsContainer {
  cursor: pointer;
  width: 15em;
  height: 5em;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  transition: transform 0.3s ease;
}

.PokedexContainer:hover,
.MovesContainer:hover,
.LocationsContainer:hover,
.EvolutionsContainer:hover {
  transform: translateY(-0.5em);
}

.PokedexButton,
.MovesButton,
.LocationsButton,
.EvolutionButton {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  position: absolute;
}

.PokedexContainer {
  background: linear-gradient(to bottom, #ff4d4d, #d70000);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.EvolutionsContainer {
  background: linear-gradient(to bottom, #66bb6a, #388e3c);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.MovesContainer {
  background: linear-gradient(to bottom, #ffa726, #ff6f00);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.LocationsContainer {
  background: linear-gradient(to bottom, #42a5f5, #0d47a1);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.LinkTag {
  text-decoration: none;
}
