.HeightAndWeightContainer,
.AlignIconAndText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  width: 100%;
}

.HeightAndWeightContainer {
  background: linear-gradient(to bottom, #33333300, #27272700);
  border-radius: 0.5em;
}

.HeightContainer,
.WeightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.SeparatorForHeightAndWeight {
  width: 8.5em;
  rotate: 90deg;
  border: 1px solid gray;
}

.word {
  color: #919191;
}
