.ContactUsContainer,
.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContactForm {
  gap: 0.5em;
}

.ContactUsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5em;
  padding: 2em;
  margin: 2em;
  color: white;
}

.PageTitle {
  width: 100%;
  text-align: center;
  font-weight: 100;
  color: white;
}

.BarInput {
  width: 100%;
  border: none;
  border-radius: 0.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.SubmitButton {
  margin-top: 0.5em;
  width: 100%;
  border-radius: 0.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border: 0.1em solid #0000004a;
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom, #42a5f5, #0d47a1);
}

.SubmitButton:hover {
  color: black;
}

.QueryType {
  cursor: pointer;
  border-radius: 0.5em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.TextArea {
  font-family: "Oswald";
  border-radius: 0.5em;
  padding: 1em;
  text-align: start;
}

textarea {
  height: 200px;
  width: 100%;
  resize: none;
  overflow-y: auto;
}
