.BurgerIcon {
  width: 2em;
}

.NavbarContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.TitleName {
  font-family: "Pokemon-Solid";
  margin-bottom: 0.1em;
  text-align: center;
  color: #ffe62c;
  -webkit-text-stroke: 0.025em blue;
}
