.PikachuCoolImage {
  width: 90vw;
}

.PageTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 100;
  margin-bottom: 0.5em;
}

.ErrorContainerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.navigateHomeBtn {
  transition: background 0.5s ease-in; /* Smooth transition */
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  background: linear-gradient(to bottom, #ffdb00, #ffc107);
  padding: 0.5em;
  border-radius: 0.5em;
  color: black;
}

.navigateHomeBtn:hover {
  cursor: pointer;
  color: black;
  background: white;
}
