.StatContainer {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.statContainerOfName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5%;
}

h4 {
  font-weight: 100;
  width: 100%;
}

.StatSliderValue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statValue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

progress {
  height: 0.8em;
}

.StatNameContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hp {
  accent-color: red;
}

.attack {
  accent-color: blue;
}

.defense {
  accent-color: green;
}

.special-attack {
  accent-color: springgreen;
}

.special-defense {
  accent-color: springgreen;
}

.speed {
  accent-color: orange;
}
