.third-part-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  color: var(--stone-600);
  margin-top: -1em;
}

b {
  margin-left: 0em;
}

li {
  margin-left: 1em;
}

li::marker {
  font-weight: 700;
  font-size: 1em;
  color: var(--brown-800);
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
}

#root > main > div.third-part-container > div > div > ul {
  list-style-type: none;
}
#root > main > div.third-part-container > div > div > ul hr {
  margin-bottom: 1em;
}

ul {
  justify-content: flex-start;
}

.inner-ul {
  flex-direction: row;
  width: 100%;
  list-style-type: none;
}

.nutrition-text {
  margin-top: 1em;
  margin-bottom: 1em;
}

.kcal-text {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 5.5em;
}

.zero-g {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 6.5em;
}

.twenty-g {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 6em;
}

.twenty-two-g {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 7.6em;
}
