.PageTitle {
  color: white;
  font-weight: 100;
}

.EvolutionPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pokemonEvoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: green;
  border-radius: 1em;
  margin-bottom: 1em;
}
