.PopularPokedexPicks {
  margin-bottom: 0.2em;
  font-weight: 900;
  text-align: center;
  color: white;
  background: #0000000d;
  width: 100%;
  padding: 0.5em;
}

.RandomPokedexContainer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.HomeUnderLine {
  width: 95%;
  border: 0.001em solid gray;
  opacity: 0.25;
}
