.TypesUlContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

.liType {
  cursor: pointer;
  margin-bottom: -1em;
  padding: 0.7em;
  background: #ffffff3b;
  border-radius: 100em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  margin-top: 2em;
  position: static;
}

.liType:hover {
  background: black;
}

.TypesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-22em);
}
