@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flink Light";
  src: url("../public/FlinkLight.otf");
}

@font-face {
  font-family: "Flink Medium";
  src: url("../public/FlinkMedium.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
  font-family: "Flink Light";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Flink Medium";
}
