.ButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5em;
}

.ratingNumber {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--neutral-light-grey);
  background: var(--neutral-dark-blue);
  border-radius: 100em;
  height: 3em;
  width: 3em;
  font-weight: 600;
}

.ratingNumber:hover {
  background: white;
  color: var(--neutral-very-dark-blue);
}
