.about-us-section {
display: flex;
flex-direction: column;
}

.hero-image-about-us {
animation: flowUpDown 5s ease-in-out infinite;
width: 20em;
}

.about-us-section {
padding: 2em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
font-family: "Bebas Neue";
text-align: center;
}

.sub-header {
  text-align: center;
}

#grand-finalle {
  background: var(--lighter-red-color);
  color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
}

#grand-finalle:hover,#grand-finalle:active {
background: white;
color: black;
}

.about-us-img {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 15em;
  border-radius: 0.7em;
}

.p-two-container,
.p-three-container,
.p-four-container,
.p-five-container,
.p-six-container,
.p-seven-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-section-container {
padding: 2em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding-top: 0em;
}

@keyframes flowUpDown {
0% {
transform: translateY(0); 
}
50% {
transform: translateY(-20px); 
}
100% {
transform: translateY(0); 
}
}

.contact-info {
background: black;
padding: 0.5em;
border-radius: 0.5em;
flex-wrap: wrap;
display: flex;
}

.about-us-container-title {
padding: 0.5em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

blockquote {
  margin-top: 1em;
  font-size: 1.4em;
}

.tim-red-carpet-img {
  margin-top: 1em;
  width: 20em;
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow: 0em 0em 2em 0.2em snow;
}

@media screen and (min-width:1024px) {

.p-two,
.p-three,
.p-four,
.p-five,
.p-six,
.p-seven {
  padding-right: 1em;
  padding-left: 1em;
  line-height: 1.5em;
  }

  .p-two-container {
    flex-direction: row;  
  }

.p-three-container {
    flex-direction: row-reverse;  
  }

.p-four-container {
    flex-direction: row;  
  }

.p-five-container {
    flex-direction: row-reverse;  
  }

.p-six-container {
    flex-direction: row;  
  }

.p-seven-container {
    flex-direction: column;  
  }


.about-us-section-container {
flex-wrap: unset;
}

.hero-image-about-us {
height: auto;
width: auto;
}

.about-us-section {
margin-top: 1em;
font-size: 1.5em;
}

body > footer {
position: unset;
bottom: 0;
}

}
