.return-home-btn {
  padding: 1em;
  background: white;
  font-size: 1.5em;
  border-radius: 5em;
  margin-top: 1em;
  font-weight: bold;
  font-family: 'Roboto';
}

.sorry-message {
  color: red;
  font-family: 'Roboto';
}

.return-home-btn:active,.return-home-btn:hover {
  background-color: black;
  color: white;
}

@media screen and(min-width:1024px) {
  
  .return-home-btn {
    border: none;
    background: black;
    border-radius: 2em;
    color: white;
    padding: 1em;
    width: 100%;
    margin-bottom: 6em;
    font-size: 1em;
    cursor: pointer;
  }

  .return-home-btn:active,.return-home-btn:hover {
    background: var(--lighter-red-color);
  }
  
}