.navbar-desktop {
  position: fixed;
}

footer {
  position: fixed;
  bottom: 0;
}

.favorite-movies-title-container {
  width: 100vw;
  position: fixed;
  top: 10em;
}

.alert-message-container {
  display: none;
}

.favorite-movies-title-container {
  position: fixed;
  width: 1000vw;
  font-size: 0.5em;
}
.fav-movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 5em;
}