.fav-movies-container {
display: flex;
justify-content: center;
gap: 3em;
margin-top: 4em;
flex-wrap: wrap;
margin-bottom: 4em;
}

.fav-play-button-btn,.fav-white-share-trailer-btn,.fav-white-data-btn,.fav-remove-btn-icon {
background: none;
border: none;
position: absolute;
cursor: pointer;
}
.fav-play-button-btn {
transform: translate(0, -13.5em);
}
.fav-remove-btn-img {
transform: translate(5em, -7em);
}

.fav-white-data-btn {
transform: translate(0em, -7em);
}

.title-img-container-fav {
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
width: 100%;
flex-wrap: wrap;
text-align: center;
}

.cupid-popcorn {
width: 35vw;
animation: flowUpDown 3s ease-in-out infinite;

}

@keyframes flowUpDown {
0% {
transform: translateY(0);
}
50% {
transform: translateY(-1vh);
}
100% {
transform: translateY(0);
}
}

.fav-white-share-trailer-btn {
transform: translate(-5em, -6.5em);
text-decoration: none;
background: none;
font-size: 0.9em;
}

.favorite-movies-container-title {
  width: auto;
margin-top: 0em;
}

.fav-remove-btn-img:active,.fav-white-data-img:active,.fav-white-share-img:active,.fav-play-button-img:active {
background-color: red;
}

.fav-play-button-img:hover,.fav-white-share-img:hover,.fav-remove-btn-img:hover,.fav-white-share-img:hover,.fav-white-data-img:hover {
background-color: var(--rating--color);
}

.fav-play-button-img,.fav-white-share-img,.fav-remove-btn-img,.fav-white-data-img {
height: 2em;
border: 1px solid #00000063;
background: black;
border-radius: 2em;
padding: 0.5em;
position: relative;
}

.fav-play-button-img {
height: 3em;
}

@media screen and (min-width:1024px) {
.cupid-popcorn {
width: 15em;
}

.fav-movies-container {
flex-direction: row;
}

body > footer {
position: unset;
}
}

@media screen and (max-width: 1295px) {
body > footer {
position: relative;
bottom: 0;
}
}
