.main-content-container-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

body > footer {
  position: relative;
}

.submit-button {
  border: none;
  border-radius: 0.2em;
  text-align: center;
  font-size: large;
  font-weight: 900;
  color: white;
  gap: 1em;
  cursor: pointer;
}

.feedback-me-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.form-container {
  width: 50vw;
}

.feedback-me-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.name,.email,.message,.submit-button {
  background: var(--lighter-red-color);
  border-radius: 0.2em;
  padding: 0.2em;
  width: 100%;
  display: block;
  text-align: revert;
}

#name,#email,#message {
  background: white;
  border-radius: 0.2em;
  padding: 0.2em;
  width: 100%;
  display: block;
  text-align: revert;
  border: dashed;
}

.white-search-bar {
  width: 1.5em;
  display: flex;
  position: relative;
  left: -11em;
}

label {
  margin-bottom: 0.5em;
}

#message {
  width: 100%;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
  color: gray;
}

input::placeholder,input,textarea {
  font-family: "SignWood Reg";
}

#rating {
  width: 100%;
}


@media screen and (min-width:1024px) {
  #rating {
    margin-bottom: 2em;
  }

  body > footer {
    position: absolute;
  }
  
}