.navbar-desktop {
  position: fixed;
}

.main-content-container-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.submit-button {
  border: none;
  border-radius: 0.2em;
  text-align: center;
  font-size: large;
  font-weight: 900;
  color: white;
  gap: 1em;
  cursor: pointer;
}

.feedback-me-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 50vw;
}


@media screen and (min-width:1024px) {
  .feedback-me-container-title {
    margin-top: 11em;
  }

  #rating {
    margin-bottom: 2em;
  }
  
  #rating::placeholder {
    text-align: center;
  } 

}