.genres-results-name {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--lighter-red-color);
  box-shadow: 0em 0em 2.5em -1em;
  font-size: 2em;
  border-radius: 5em;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
}