.genre-image img {
  max-width: 13em; 
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  opacity: 0.5;
}

.genre-image img:hover,.genre-image img :active {
  opacity: 1;
}

.genres-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}

.genre-title,.shortphrase-genre {
  text-align: center;
}

.genre-card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5em;
}

.genre-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.genre-title:hover {
  color: var(--lighter-red-color);
}

.genre-direct-btn {
  cursor: pointer;
  background: var(--lighter-red-color);
  color: white;
  padding: 0.5em;
  border-radius: 100em;
  font-size: 1em;
  margin-top: 1em;
  border: none;
  font-family: 'Bebas Neue';
  font-size: 1.4em;
  opacity: 0.5;
}

.genre-direct-btn:hover {
  opacity: 1;
}

@media screen and (min-width:1024px) {
  .genres-container {
    flex-direction: row;
  }
}