.rating-container,.single-img-container,.single-movie-card,.container-title-movie-data,.img-name-container,.single-movie-img {
display: flex;
text-align: center;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
margin-top: 0.5em;
}

.navbar-mobile {
position: unset;
}

.cast-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 5em;
width: 100%;
flex-wrap: wrap;
margin-top: 1em;
margin-bottom: 5em;
}

.movie-release {
width: 50%;
margin-top: 1em;
margin-bottom: 1em;
}

.movie-link {
background: none;
border: none;
margin-bottom: 2em;
}

.movie-link a {
background: red;
font-size: 2em;
padding: 0.5em;
font-weight: bold;
font-family: 'Roboto';
border-radius: 0.1em;
display: block;
border-radius: 5em;
}

.movie-link a:hover,.button-trailer a:hover {
background-color: white;
color: black;
}

.movie-details {
background: white;
color: black;
border-style: dashed;
padding: 1em;
font-family: 'Roboto';
line-height: 1.5em;
margin-bottom: 2em;
font-weight: 900;
}

.rating-container {
margin-top: 1em;
flex-direction: row;
width: 50%;
margin-bottom: 2em;
}

.single-movie-img,.actor-img {
width: 10em;
border-radius: 0.5em;
}

.actor-name {
color: black;
background: white;
padding: 0.5em;
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
border-radius: 0.1em;
}

.title-single-movie {
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: var(--lighter-red-color);
text-align: center;
box-shadow: 0em 0em 2.5em -1em;
border-style: dashed;
font-size: 2em;
width: 100vw;
color: var(--rating--color);
}

.button-trailer {
border: none;
background: none;
border-radius: 0.1em;
}

.link-trailer {
text-decoration: none;
color: white;
width: auto;
background: red;
font-size: 2em;
padding: 0.5em;
font-weight: bold;
font-family: 'Roboto';
border-radius: 0.1em;
display: block;
border-radius: 5em;
}

.watch-trailer-movie {
background: red;
font-size: 2em;
padding: 0.5em;
font-weight: bold;
font-family: 'Roboto';
border-radius: 0.1em;
width: 100vw;
display: block;
}

.summary-title {
margin-top: 2em;
font-family:'Roboto';
color: white;
background: red;
border-radius: 0.2em;
padding: 0.4em;
width: 100vw;
font-style: italic;
letter-spacing: 0.2em;
}

.play-button-btn-single-movie {
transform: translateY(-18em);
box-shadow: 0em 0em 3em 0.01em var(--rating--color);
border-radius: 3em;
}

.single-movie-img {
width: 15em;
box-shadow: 0 0 0.1em 0.1em var(--rating--color);
animation: glow 3s ease-in-out infinite;
}

.actors-title {
background: black;
padding: 0.5em;
width: 100vw;
text-align: center;
font-size: 1.5em;
margin-top: 1em;
margin-bottom: 1em;
box-shadow: 0em 0em 1em 0.05em var(--rating--color);
color: white;
}

.movie-name {
color: var(--rating--color);
}

body > footer {
position: relative;
bottom: 0;
}

@keyframes glow {
0% {
box-shadow: 0em 0em 2em 0.01em var(--rating--color);
}
50% {
box-shadow: 0em 0em 3em 0.5em var(--rating--color);
}
100% {
box-shadow: 0em 0em 2em 0.01em var(--rating--color);
}
}

@media screen and (min-width:1024px) {

.single-movie-img {
width: 15em;
}

.actor-img {
width: 10em;
}

.actor-name {
font-size: 1em;
}

.movie-link a {
width: auto;
display: flex;
}

.actors-title {
width: auto;
font-size: 1.8em;
border-radius: 5em;
}
}