.single-movie-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 1em;
text-align: center;
}

.cast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.title-single-movie {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background: #ff0000bf;
  text-align: center;
  border-style: dashed;
  width: 200vw;
  padding: 0.2em;
}


.actor-name {
  background: #ff0000bf;
  color: white;
  border-style: dashed;
  padding: 0.5em;
  width: 1000vw;
  font-weight: 900;
  font-size: 1.4em;
}

.movie-details {
  background: white;
  color: black;
  border-style: dashed;
  padding: 1em;
  width: 81vw;
  margin-bottom: 3em;
  margin-top: -5em;
}

.play-button-btn-single-movie {
  position: relative;
  top: -18em;
}

.rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.img-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.single-movie-img,.actor-img {
  width: 50vw;
  border-radius: 1em;
}

.single-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-button-img {
  position: relative;
  height: 5em;
  border-radius: 5em;
}

.movie-link {
  border: none;
  padding: 0.2em;
  border-radius: 0.5em;
  background-color: #ff0000bf;
  cursor: pointer;
  width: 90vw;
  height: 4em;
  margin-top: -2em;
  margin-bottom: 2em;
}

.movie-link:hover {
  background-color: white;
}

.website-link:hover {
  color: black;
}

.website-link {
  color: white;
  font-size: 2.5em;
  font-weight: 700;
}

.summary-title {
  position: relative;
  top: -5em;
  background: #ff0000bf;
  border-style: dashed;
  width: 1000vw;
  text-align: center;
  padding: 1em;
}