.popular-movies-of-week-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.template-title {
  width: 100vw;
  text-align: center;
  position: relative;
}