/* @font-face {
  font-family: "Tanseek Modern Pro Arabic Book";
  src: url(../fonts/Tanseek\ Modern\ Pro\ Arabic\ Book.ttf);
}

:root {
  --searchbar-bg: hsl(60, 0%, 46%);
  --title-bg: rgb(46, 51, 53);
  --active-btn: white;
  --movie-name-color: hsl(180, 4%, 35%);
  --transparent-blur-bg: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  min-height: 100vh;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--title-bg);
  font-family: "Tanseek Modern Pro Arabic Book";
}

/* .desktop-navbar-container {
  display: none;
} */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 1em;
}

.mobile-pages {
  display: none;
  font-size: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: absolute;
  top: 250px;
  z-index: 2;
}


ul {
  list-style-type: none;
}

.links {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.links:hover {
  color: black;
  background: white;
  border-radius: 1em;
  padding: 0.1em;
  display: flex;
  width: 35vh;
  justify-content: center;
  align-items: center;
}

.links:active {
  color: white;
  background-color: blue;
}

.mobile-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 10px;
  margin-bottom: 1em;
  width: 50vh;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.burger-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-menu-open,.search-button-icon {
  width: 30px;
  height: 30px;
}

.search-button-icon,.icon-menu-close {
  width: 20px;
  height: 20px;
}

.icon-menu-close {
  display: none;
}

.hidden {
  display: none;
}

.button-container {
  border: none;
  background: none;
  transform: translate(-30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  z-index: -1;
  margin-top: 5em;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-img {
  width: 250px;
  border-radius: 1em;
}

.p-txt {
  width: min-content;
  text-align: start;
}

.search-input {
  background: var(--searchbar-bg);
  border: none;
  padding: 0.5em;
  border-radius: 2em;
}

::placeholder {
  color: white;
  font-size: 1em;
  text-align: start;
}

.search-input:active {
  border: 1px solid black;
}

.movie-img:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; 
  filter: blur(5px); 
  box-shadow: 0 5px 15px 5px var(--title-bg); 
} */
