@font-face {
  font-family: "Tanseek";
  src: url(../fonts/Tanseek\ Modern\ Pro\ Arabic\ Book.ttf);
}

:root {
  --font-weight-minimal: 100;
  --font-bold: 900;
  --color-white: #ffffff;
  --color-light-gray: #f4f4f4;
  --color-black: #000000;
  --color-gray: gray;
  --color-red: red;
  --color-dodgerblue: dodgerblue;
  --color-goldenrod: goldenrod;
  --color-black-transparent-05: rgba(0, 0, 0, 0.05);
  --color-black-transparent-12: rgba(0, 0, 0, 0.12);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  min-height: 100vh;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-white);
  font-family: "Tanseek";
  font-size: 1em;
}

main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding: 1em;
}

.container-img {
  background: black;
  border: 2em;
  border-radius: 2em;
}

.logo-img {
  border-radius: 2em;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  gap: 2.5em;
  margin-top: 2em;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid var(--color-white);
  padding: 1em;
  border-radius: 2em;
  background: var(--color-black-transparent-12);
  color: black;
  gap: 0.5em;
}

h2 {
  color: white;
  background: var(--color-black-transparent-05);
  border-radius: 50px;
  font-weight: var(--font-weight-minimal);
}

.movie-title-container {
  padding: 0.4em;
  width: 100%;
  text-align: center;
  background:var(--color-black-transparent-05);;
  border-radius: 1em;
}

.movie-poster-img {
  width: 35vh;
  border-radius: 1em;
  border: 1px solid var(--color-light-gray);
}

.p-container {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  line-height: 1em;
  font-size: 1.3em;
  width: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 0.3em;
  width: 115%;
}

.movie-data {
  text-align: start;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.like-container,.share-container,.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.like-button,.share-button,.rating-button {
  border: none;
  background: gray;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
}

.reg-heart-icon,.reg-share-icon,.reg-rating-icon {
  width: 50px;
}

.btn-text {
  font-weight:  var(--font-bold);;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2em;
}

.like-button:hover {
  background: red;
  border-radius: 50px;
}

.share-button:hover {
  background: dodgerblue;
  border-radius: 50px;
}

.rating-button:hover {
  border-radius: 50px;
  background: goldenrod;
}

.input-search-bar {
  border-radius: 1em;
  padding: 0.5em;
  border: none;
  text-align: center;
  background: var(--color-light-gray);
}

::placeholder {
  color: var(--color-black);
}

.submit-btn {
  border: none;
  border-radius: 1em;
  padding: 0.5em;
  background: var(--color-light-gray);
  color: var(--color-black);
}