.PokemonCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
}
