.PokemonTitlesData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  margin: 1em;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.statsLink:hover {
  border-radius: 0.3em;
}

.statsButton,
.movesButton,
.aboutButton,
.abilitiesButton,
.locationsButton {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  padding: 0.5em;
  position: relative;
  font-family: "Oswald";
  color: white;
  font-size: 1.1em;
}

.statsButton:hover,
.movesButton:hover,
.aboutButton:hover,
.abilitiesButton:hover,
.locationsButton:hover {
  padding: 0.5em;
}

.animatedHr {
  width: 0%;
  height: 0.01em;
  background-color: gray;
  border: none;
  transition: width 0.3s ease-in-out;
}

.statsContainer:hover .animatedHr,
.aboutContainer:hover .animatedHr,
.movesContainer:hover .animatedHr,
.abilitiesContainer:hover .animatedHr,
.locationsContainer:hover .animatedHr {
  width: 100%;
}
