.userOptionsChoiceView {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.1em;
  width: 100%;
}

.PokemonTitlesData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.statsLink:hover {
  border-radius: 0.3em;
}

.statsButton,
.movesButton,
.aboutButton,
.evolutionsButton,
.locationsButton {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  padding: 0.5em;
  position: relative;
  font-family: "Oswald";
  color: white;
}

.statsButton:hover,
.movesButton:hover,
.aboutButton:hover,
.evolutionsButton:hover,
.locationsButton:hover {
  padding: 0.5em;
}

.animatedHr {
  width: 0%;
  height: 0.01em;
  background-color: gray;
  border: none;
  transition: width 0.3s ease-in-out;
}

.statsContainer:hover .animatedHr,
.aboutContainer:hover .animatedHr,
.movesContainer:hover .animatedHr,
.evolutionsContainer:hover .animatedHr,
.locationsContainer:hover .animatedHr {
  width: 100%;
}
