.ForgetPasswordContainer,
.ResetPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PageTitle {
  color: white;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.ForgetPasswordContainer {
  background: #ffffff12;
  border-radius: 0.5em;
  box-shadow: 0em 0em 1em 0.01em #0000007d;
  padding: 2em;
  margin: 2em;
}

.BoxInput {
  width: 100%;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border: 0.1em solid #0000004a;
}

.SubmitBtn {
  width: 100%;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to bottom, #42a5f5, #0d47a1);
}

.SubmitBtn:hover {
  color: black;
}
