.BurgerIcon {
  width: 2em;
}

.NavbarContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo {
  transform: translateY(0.1em);
}
