.part-one-second-container,
.part-two-second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}

.part-one-second-container {
  background: var(--rose-50);
}

.part-one-second-container li {
  margin-left: 1.6em;
  margin-bottom: 1em;
  color: var(--stone-600);
}

b {
  margin-left: 1em;
}

span {
  margin-left: 1em;
}

.preparation-time-title {
  font-family: "Outfit";
  color: var(--rose-800);
  font-weight: 600;
}

li::marker {
  font-size: 0.9em;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

h2 {
  font-weight: 400;
}

.part-two-second-container ul {
  gap: 1em;
  color: var(--stone-600);
}
