.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff12;
  border-radius: 0.5em;
  box-shadow: 0em 0em 1em 0.01em #0000007d;
  padding: 2em;
  margin: 2em;
}

.SubmitButton,
.PasswordInput,
.EmailInput {
  width: 100%;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border: 0.1em solid #0000004a;
}

.EmailInput,
.PasswordInput {
  background: gainsboro;
}

input:focus {
  outline: none;
  color: black;
  border-color: white;
}

.SubmitButton {
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom, #42a5f5, #0d47a1);
  transition: background 0.5s ease-in;
}

.SubmitButton:hover {
  color: black;
  background: #d4a017;
}

.ForgetPasswordButton,
.RegisterButton {
  border: none;
  background: none;
}

.TagLink {
  text-decoration: none;
  color: gray;
  font-weight: 700;
  padding: 0.3em;
  padding-left: 0em;
  padding-right: 0em;
}

.TagLink:hover {
  color: white;
  padding: 0.3em;
  padding-left: 0em;
  padding-right: 0em;
  border-radius: 0.4em;
}

.PageTitle {
  width: 100%;
  text-align: center;
  font-weight: 100;
  color: white;
  background: hsl(0deg 0% 0% / 50%);
}

.RegisterHere:hover {
  color: white;
}

.userOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40%;
}

.PikachuImage {
  top: 0;
  opacity: 0.7;
  width: 100%;
  z-index: -1;
  position: absolute;
}
