@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Monteserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
  --primary-button: #FF5C00;
  --secondary-button: #5FDBA7;
  --text-color: #1F1F1F; 
  --input-background: #E5E5E5; 
  --accent-color: #A3C9F1; 
}

* {
  padding: 0;
  margin: 0;
}

body,html {
  min-height: 100vh;
}

body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url(../images/background-img.svg);
  color: white;
}

#searchbar-container,.navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  width: 100%;
}

.navbar-mobile {
  margin-top: 1em;
  margin-bottom: 1em;
  background: #00000024;
  border-radius: 2em;
  padding: 0.5em;
  margin-bottom: 5em;
  position: static;
}

main,.popular-movies-container,.top-trending-movies-container,.movie-card-container,.movie-card,.upcoming-movies-container,.currently-movies-in-theatres-container,.navbar-footer-container,.policy-pages-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-trending-movies-container,.popular-movies-container,.upcoming-movies-container,.currently-movies-in-theatres-container,.navbar-footer-container,.policy-pages-container {
  flex-direction: row;
  gap: 7em;
  margin-bottom: 5em;
}

.navbar-footer-container,.policy-pages-container {
  gap: 2em;
  margin-bottom: 0em;
  
}
.group-input-btn-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.movie-card {
  gap: 0.6em;
}

.white-burger-icon {
  width: 2.5em;
}

.btn-serachbar-glass {
  border: none;
  transform: translateX(-14em);
  background: none;
  color: white; 
}

.input-search-bar {
  border: none;
  border-radius: 2em;
  padding: 0.6em;
  width: 25vh;
  text-align: center;
  border-radius: 2em;
  background: #0000001f;
  cursor: pointer;
  color: white;
}

input:active {
  color: white;
}

::placeholder {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.white-search-bar {
  width: 1.5em;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  color: snow;
  letter-spacing: 0.05em;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-img,.overview {
  width: 35vh;
}

.movie-img {
  border-radius: 1.5em;
}

.rating-img {
  height: 3em;
}

.rating-number-txt {
  font-size: 2.5em;
  transform: translateY(0.1em);
  color: hsl(48, 100%, 51%);
  font-weight: bold;
}

.overview-container {
  display: none;
}

.play-button-img,.white-share-img,.white-heart-img {
  height: 2.5em;
  border: 1px solid #00000063;
  background: #000000a1;
  border-radius: 5em;
  padding: 1em;
  position: sticky;
}

.play-button-btn {
  transform: translate(0em, -8.5em);

}
.white-share-trailer-btn,.white-heart-trailer-btn,.play-button-btn {
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
}

.white-heart-img,.white-share-img {
  height: 3.5em;
}

.white-heart-trailer-btn {
  transform: translate(7em, -10em);
}

.white-heart-img:hover {
  background: #ff0000;
}

.white-share-trailer-btn {
  transform: translate(-7em, -10em);
}

.white-share-img:hover {
  background: hsl(48, 95%, 44%);
}

.play-button-img:hover {
  background: #ff0000;
}

.play-button-img:active {
  background: #ffffff63;
  color: #ffffff00;
  box-shadow: 0em 0em 10em 1em;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 7em;
}

/* Cards flow to the right animation */
.movie-card {
  position: relative;
  animation: moveRight 120s linear infinite; 
}

.movie-img {
  transition: transform 0.5s ease, box-shadow 0.5s ease; 
}

.movie-img:hover,.movie-img:focus{
  transform: scale(1.05);
}
.movie-img:hover {
  box-shadow: 0em 0em 1.5em rgba(255, 255, 255, 1);

}

@keyframes moveRight {
  0% {
    left: 0; /* Start from the initial position */
  }
  100% {
    left: 20%; /* Move completely to the right */
  }
}

.popular-movies-container-title,.trending-movies-container-title,.upcoming-movies-container-title,.currently-movies-in-theatres-container-title {
  margin-bottom: 5em;
  border-radius: 2em;
  padding: 1.3em;
  letter-spacing: 1.2em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff00003d;
  width: 75vw;
  text-align: center;
}

.pages {
  color: white;
  text-decoration: none;
  border-radius: 5em;
  background: #00000063;
  padding: 0.7em;
}

a:hover {
  color: black;
  text-decoration: none;
  border-radius: 5em;
  background: white;
  padding: 0.5em;

}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: max-content;
}

.copy-right-txt {
  margin-top: 1em;
}