@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Monteserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
  --primary-button: #FF5C00;
  --secondary-button: #5FDBA7;
  --text-color: #1F1F1F; 
  --input-background: #E5E5E5; 
  --accent-color: #A3C9F1; 
}

* {
  padding: 0;
  margin: 0;
}

body,html {
  min-height: 100vh;
}

body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url(../images/homepage-bg/background-img.svg);
  color: white;
}

main {
  position: relative;
}

.searchbar-container,.navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.navbar-mobile {
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000000;
  padding: 0.5em;
  margin-bottom: 3em;
  width: -webkit-fill-available;
  justify-content: center;
}

.overlay {
  display: none;
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #00000085;
}


main,.popular-movies-container,.top-trending-movies-container,.movie-card-container,.movie-card,.upcoming-movies-container,.currently-movies-in-theatres-container,.navbar-footer-container,.policy-pages-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-trending-movies-container,.popular-movies-container,.upcoming-movies-container,.currently-movies-in-theatres-container,.navbar-footer-container,.policy-pages-container {
  flex-direction: row;
  gap: 2em;
  margin-bottom: 2em;
}

.navbar-footer-container,.policy-pages-container {
  gap: 2em;
  margin-bottom: 0em;
  
}
.group-input-btn-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
}

.white-burger-icon {
  width: 2.5em;
  position: static;

}

.btn-serachbar-glass {
  border: none;
  transform: translateX(-15em);
  background: none;
  color: white; 
  position: relative;
}

.remove-btn-img {
  transform: translate(5em, -7em);
}

.input-search-bar {
  border: none;
  border-radius: 2em;
  padding: 0.6em;
  width: 25vh;
  text-align: center;
  background: #ffffff24;
  cursor: pointer;
  color: white;
}

input:active {
  color: white;
}

::placeholder {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.white-search-bar {
  width: 1.5em;
}

.title {
  text-align: center;
  width: fit-content;
  font-size: 0.9em;
  color: snow;
  width: max-content;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-img,.overview {
  width: 25vh;
}

.movie-img {
  border-radius: 1.5em;
}

.rating-img {
  height: 2em;
}

.rating-number-txt {
  font-size: 1.8em;
  transform: translateY(0.05em);
  color: #ffcd05;
  font-weight: bold;
}

.overview-container {
  display: none;
}

.play-button-img,.white-share-img,.white-heart-img,.remove-btn-img {
  height: 2em;
  border: 1px solid #00000063;
  background: #000000a1;
  border-radius: 2em;
  padding: 0.5em;
  position: relative;
}

.play-button-img {
  height: 3em;
}

.play-button-btn {
  transform: translate(0, -6.5em);
}

.white-share-trailer-btn,.white-heart-trailer-btn,.play-button-btn,.remove-btn-icon {
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
}

.white-heart-img,.white-share-img {
  height: 2em;
}

.white-heart-trailer-btn {
  transform: translate(5em, -7em);
}

.white-heart-img:hover {
  background: #ff0000;
  transform: scale(1.1);
}

.white-share-trailer-btn {
  transform: translate(-5em, -7em);
}

.white-share-img:hover {
  background: hsl(48, 95%, 44%);
  transform: scale(1.1);
}

.play-button-img:hover {
  background: #ff0000;
  transform: scale(1.1);
}

.play-button-img:active {
  background: #ffffff63;
  color: #ffffff00;
  box-shadow: 0em 0em 10em 1em;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 7em;
}

.movie-img {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.movie-img:hover {
  transform: scale(1.04);
  box-shadow: 0em 0em 2em 0em;
  cursor: pointer;
}


/* .movie-card {
  animation: scrollRight 20s linear infinite; 
  gap: 0.5em;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
} */


.about-us-container-title,.favorite-movies-title-container,.popular-movies-container-title,.trending-movies-container-title,.upcoming-movies-container-title,.currently-movies-in-theatres-container-title {
  margin-bottom: 3em;
  border-radius: 3em;
  padding: 1em;
  letter-spacing: 0.5em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff0000bf;
  text-align: center;
  line-height: 3em;
  box-shadow: 0em 0em 2.5em -1em;
  font-size: 0.6em;
  width: -webkit-fill-available;
  border-style: dashed;
}

.about-us-container-title h2,.favorite-movies-title-container h2 {
  font-size: 5em;
  padding: 0.5em;
}

.copy-right-txt {
  margin-top: 1em;
  text-align: center;
  position: relative;
  margin-bottom: 3em;
  margin-top: 3em;
  width: -webkit-fill-available;
}

.navbar-desktop {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  background: black;
  gap: 1em;
}

.about-us-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: justify;
  gap: 2em;
  height: 75vh;
  width: 55vw;
}

.favorite-effect-img {
  display: none;
  position: fixed;
  transform: translate(0em, -10em);
  z-index: 1;
  height: 24vh;
}

a {
  color: white;
  text-decoration: none;
}

.hero-image-about-us {
  width: 50vw;
  border-radius: 2em;
}

.hero-image-container {
  width: 50vw;
  border-radius: 2em;
  position: relative;
  animation: float 5s ease-in-out infinite;
  box-shadow: 0em 0em 0.5em 0em black;
}

@keyframes float {
  0% {
      transform: translateX(2em);
  }
  50% {
      transform: translateX(-0.1em);
  }
  100% {
      transform: translateX(0);
  }
}

.content {
  margin-top: -7em;
  width: 50vw;
}


/* .loader {
  position: fixed;
  left: 5em;
  top: 25em;
  border-top: 16px solid #000000;
  border-right: 16px solid #ff0000;
  border-bottom: 16px solid #000000;
  border-left: 16px solid #ff0000;
  border-radius: 50%;
  width: 8em;
  height: 8em;
  animation: spin 2s cubic-bezier(0.58, -0.19, 0, 1.19) infinite;
  z-index: 9999;
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (min-width:1024px) {

  .fav-movies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 8em;
  }

  .search-results-container {
    flex-direction: row;
  }

  .github-full-logo-white,.discord-full-logo-white {
    transform: translateY(0.1em);
  }

  .github-full-logo-white,.discord-full-logo-white {
    background: #ffffff24;
    border-radius: 3em;
  }

  .github-full-logo-white:active,.discord-full-logo-white:active,.github-full-logo-white:hover,.discord-full-logo-white:hover {
    background: #ff0000bf;
  }

  .remove-btn-img:active,.remove-btn-img:hover {
    background: red;
    position: relative;
  }
  
  .overlay {
    display: none;
    position: none;
    width: none;
    height: none;
    top: none;
    left: none;
    right: none;
    bottom: none;
    z-index: none;
    background: none;
  }

  .searchbar-container {
    width: 100%;
    justify-content: center;
  }

  .top-navbar-desktop {
  text-decoration: none;
  color: white;
  border-radius: 3em;
  padding: 0.5em;
  position: relative;
  display: inline-block;
  }

  .top-navbar-desktop:active {
    color: #ff0000bf;
    background: #ffffff24;
  }
  
  .top-navbar-desktop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.1em;
    background-color: white; 
    transition: width 0.3s ease;
  }
  
  .top-navbar-desktop:hover::after {
    width: 100%;
  }

  .navbar-mobile {
    display: none;
  }
  
  .white-burger-icon {
    display: none;
  }

  .logo-icon {
    margin-left: 2em;
  }

  .navbar-desktop { 
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: -webkit-fill-available;
    background: #000000;
    padding: 0.5em;
    width: 100vw;
    gap: 5em;
    position: relative;
    top: 0;
    margin-bottom: 2em;
  }
  .desktop-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  }

  .desktop-navbar-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
    width: -webkit-fill-available;
  }

  .contact-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  hr {
    border: 0.01em solid white;
    width: -webkit-fill-available;
    margin-bottom: -3em;
    margin-top: 1em;
  }

  .contact-links-footer {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .error-container {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .return-home-btn {
    border: none;
    background: black;
    border-radius: 2em;
    color: white;
    padding: 1em;
    width: 25vw;
    margin-bottom: 6em;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
  }

}