@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Monteserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body,html {
  min-height: 100vh;
}

body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main,.popular-movies-container,.movie-card-container,.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-movies-container {
  gap: 7em;
}

.movie-img,.overview {
  width: 35vh;
}

.rating-img {
  position: absolute;
  transform: translate(-18em, -14em);
}

.overview-container {
  display: none;
}

.rating-number-txt {
  position: absolute;
  transform: translate(3.3em, 0.55em);
}



