.CreateCustomPokemonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff12;
  border-radius: 0.5em;
  box-shadow: 0em 0em 1em 0.01em #0000007d;
  padding: 2em;
  margin: 2em;
  color: white;
}

.CustomPokemonFormContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.DataInput {
  border-radius: 0.5em;
  width: 100%;
  border: none;
  margin-top: 0.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 1em;
}

.CreateCustomPokemon {
  width: 100%;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom, #42a5f5, #0d47a1);
}

.CreateCustomPokemon:hover {
  color: black;
}

.PageTitle {
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-weight: 100;
  color: white;
}
