@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont.ttf");
}

@font-face {
  font-family: "Pokemon-Hollow";
  src: url("/fonts/Pokemon-Hollow.ttf");
}

@font-face {
  font-family: "Pokemon-Solid";
  src: url("/fonts/Pokemon-Solid.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Oswald";
  background-image: url("../public/images/black-background.png");
}

li {
  list-style-type: none;
}
