@font-face {
  font-family: "Outfit";
  src: url(./components/fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young-Serif";
  src: url(./components/fonts/Young-Serif/YoungSerif-Regular.ttf);
}

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

h1 {
  font-family: "Young-Serif";
}

h2 {
  font-family: "Young-Serif";
  color: var(--brown-800);
}

h1 {
  color: var(--stone-900);
}

p {
  color: var(--stone-600);
}

hr {
  margin-top: 1em;
  width: 100%;
  border: 0.01em solid var(--stone-150);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
}

.omelette-img {
  width: 22em;
}

.first-container-title {
  padding: 1em;
  padding-bottom: 0.5em;
  padding-top: 0em;
}

.nutrition-text {
  margin-top: 1em;
  margin-bottom: 1em;
}

.kcal-text {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 5.5em;
}

.zero-g {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 6.5em;
}

.twenty-g {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 6em;
}

.twenty-two-g {
  color: var(--brown-800);
  font-weight: 700;
  margin-left: 7.6em;
}

@media screen and (min-width: 1024px) {
  .kcal-text {
    margin-left: 16.7em;
  }

  .zero-g {
    margin-left: 17.5em;
  }

  .twenty-g {
    margin-left: 17em;
  }

  .twenty-two-g {
    margin-left: 18.6em;
  }

  body {
    background: var(--stone-100);
  }

  main {
    background-color: white;
    width: 700px;
    margin-top: 2em;
    border-radius: 1.5em;
  }

  .omelette-img {
    padding: 2em;
    width: 100%;
    border-radius: 3em;
  }

  br {
    display: none;
  }
}
